name: check

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

jobs:
  check:
    strategy:
      matrix:
        version: 
          - latest
          - nightly
      fail-fast: false
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - uses: actions/checkout@v4

      - name: install stable version on unix
        run: |
          curl -fsSL https://cli.moonbitlang.com/install/unix.sh | bash -s ${{ matrix.version }}
          echo "$HOME/.moon/bin" >> $GITHUB_PATH

      - name: moon version
        run: |
          moon version --all

      - name: install module dependencies
        run: |
          moon update
          moon install

      - name: moon check
        run: moon check --deny-warn --target native

      - name: moon info
        run: |
          moon info --target native
          git diff --exit-code

      - name: format diff
        run: |
          moon fmt
          git diff --exit-code

      - name: Set ulimit on unix
        run: |
          ulimit -s 8176

      - name: install libclang
        run: |
          sudo apt install libclang-18-dev -y

      - name: moon test
        run: |
          moon test --target native
          moon test --target native --release
        env:
          MOON_CC: gcc
          LLVM_HOME: /usr/lib/llvm-18

  moon-json-format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: check `moon.*.json` format
        shell: bash
        run: |
          _passed=0;
          for f in $(find . -type f -name "moon.*.json"); do
            if ! jq '.' $f > /dev/null; then
              echo $f;
              _passed=1;
            fi
          done
          (exit $_passed)

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: |
          npm install --global prettier;
          find . -name *.mod.json -exec npx prettier --write {} \;
          find . -name *.pkg.json -exec npx prettier --write {} \;
          git diff --exit-code;

  check-typos:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: AutoCorrect
        uses: huacnlee/autocorrect-action@v2

      - name: typos-action
        uses: crate-ci/typos@v1.31.1
